---
layout: layouts/home.njk
permalink: /posts/
---

<div class="centre container with-padding">

  <div class="stack">

    <h1>All locations in all cities</h1>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}

  </div>

</div>
