---
renderData:
  title: Tagged “{{ city }}”
pagination:
  data: collections.cityList
  size: 1
  alias: city
layout: layouts/home.njk
permalink: /cities/{{ city | slug }}/
---
<h1>{{ city }} Fam-Friendly Eateries</h1>

{% set postslist = collections.cityCollections[ city ] %}
{% include "postslist.njk" %}

<p>See <a href="{{ '/cities/' | url }}">all cities</a>.</p>
