---
permalink: /cities/
layout: layouts/home.njk
tags:
  - nav
navtitle: Browse
---

<div class="content centre container with-padding">

  <div class="stack">

    <h1>Locations</h1>

    <ul class="custom city-list">

      {% for city in collections.cityList %}
        {% set cityUrl %}/cities/{{ city }}/{% endset %}
        <li><a href="{{ cityUrl | url }}" class="city">{{ city }}</a></li>
      {% endfor %}

    </ul>

  </div>

</div>
