---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="stack">

  <div class="centre container with-padding">

    <div class="stack">

      <h1>Family-Friendly Dining Recommendations.</h1>

      <h2>Find great local independents which look after the kids without dumbing down the menu.</h2>

      <section class="stack">

        <h2>Select City</h2>

        <div class="grid" data-min="20ch">

          {% for city in collections.cityList %}
            {% set cityUrl %}/cities/{{ city }}/{% endset %}
            <div class="box no-pad">
              <div class="frame">
                <img src="https://source.unsplash.com/WLUHO9A_xik/600x430" alt="Description of image">
              </div>
              <div class="box no-border">
                <div class="stack">
                  <h3><a href="{{ cityUrl | url }}" class="city">{{ city }}</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          {% endfor %}

        </div> <!-- /.grid -->

        <p>See <a href="{{ '/cities/' | url }}">all cities</a>.</p>

      </section>

      <section class="stack">

        <h2>Latest Additions</h2>

        {% set postslist = collections.posts | head(-3) %}
        {% include "postslist.njk" %}

        <p>See <a href="{{ '/posts/' | url }}">all places in all cities</a>.</p>

      </section>

      <section class="stack">

        <h2>Browse by tag</h2>

        <div class="cluster">
          <ul class="custom">
          {% for tag in collections.tagList %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li><a href="{{ tagUrl | url }}" class="tag">#{{ tag }}</a></li>
          {% endfor %}
          </ul>
        </div>

      </section>

    </div> <!-- /.stack -->

  </div> <!-- .centre.container -->

</div> <!-- /.stack -->


