---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<div class="stack">

  <div class="centre container with-padding">

    <div class="stack">

      <h1>Family-Friendly Café and Restaurant Recommendations.</h1>

      <p>Find great local, independent places with warm welcomes, good vibes and great menus the whole fam will love.</p>

      <section class="stack">

        <h2>Choose Location</h2>

        <div class="grid" data-min="20ch">

          {% for city in collections.cityList %}
            {% set cityUrl %}/cities/{{ city }}/{% endset %}
            <div class="box no-pad">
              <a href="{{ cityUrl | url }}" class="frame">
                <img src="/img/placeholder_1.jpg" alt="Description of image">
              </a>
              <div class="box no-border">
                <div class="stack">
                  <h3><a href="{{ cityUrl | url }}" class="city">{{ city }}</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          {% endfor %}

        </div> <!-- /.grid -->

        <p>Browse <a href="{{ '/cities/' | url }}">all locations</a>.</p>

      </section>

      <section class="stack">

        <h2>Latest Additions</h2>

        {% set postslist = collections.posts | head(-3) %}
        {% include "postslist.njk" %}

        <p>See <a href="{{ '/posts/' | url }}">all places in all cities</a>.</p>

      </section>

      <section class="stack">

        <h2>Browse by tag</h2>

        <div class="cluster">
          <ul class="custom">
          {% for tag in collections.tagList %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <li><a href="{{ tagUrl | url }}" class="tag">#{{ tag }}</a></li>
          {% endfor %}
          </ul>
        </div>

      </section>

    </div> <!-- /.stack -->

  </div> <!-- .centre.container -->

</div> <!-- /.stack -->


