---
layout: layouts/home.njk
---

<div class="stack">
  <div>child</div>
  <div>child</div>
  <div>child</div>
</div>

<div class="stack">
  <div>child</div>
  <div>child</div>
  <div>child</div>
</div>

<div class="stack">

  <div class="box">
    the box's contents
  </div>

  <div class="box invert">
    the box's contents
  </div>

  <div class="box no-pad">
    <div class="box invert no-border">head</div>
    <div class="box no-border">body</div>
  </div>

</div>
