---
permalink: /tags/
layout: layouts/home.njk
---

<div class="content centre container with-padding">

  <div class="stack">

    <h1>All Tags</h1>

    <div class="cluster">
      <ul class="custom">
      {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <li><a href="{{ tagUrl | url }}" class="tag">#{{ tag }}</a></li>
      {% endfor %}
      </ul>
    </div>

  </div>

</div>

