<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- concatenate and minify CSS -->
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/helpers.css' | url }}">

    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>

  <body{% if templateClass %} class="{{ templateClass }}"{% endif %}>

    <header id="global-header" class="global-header cluster">

      <div>

        <a class="site-name" href="{{ '/' | url }}">{{ metadata.title }}</a>

        <div class="cluster">

          <div>

            <nav class="cluster">
              <ul class="custom">
                {%- for nav in collections.nav | reverse -%}
                  <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
                {%- endfor -%}
                <li><a href="/search/">Search</a></li>


              </ul>
            </nav>

          </div>

        </div>

      </div>

    </header>

    <main id="primary-content" class="primary-content">

      {{ content | safe }}

    </main>

    <footer id="global-footer" class="global-footer cluster" aria-label="site">

      <div>

        <div class="cluster">

          <ul class="custom">
            <li><a href="/about/">About FamJam</a></li>
            <li><a href="/feed/feed.xml">RSS Feed</a></li>
            <li><a href="https://github.com/fuzzylogicxx/sofrito">Contribute on Github</a></li>
          </ul>

        </div>

        <div>
          2019 <a href="https://fuzzylogic.me/">Laurence Hughes</a>
        </div>

      </div>

    </footer>

    <!-- Scripts -->
    <script src="{{ '/js/main.js' | url }}"></script>

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
